# Git
.git
.gitignore
.gitattributes

# IDE
.idea
.vscode
*.iml

# Build输出目录
build
.gradle

# Docker相关
Dockerfile
docker-compose*.yml

# 文档
*.md
docs

# 日志和数据
logs
log.txt
uploads/*
nginx/logs/*

# 测试代码
src/test

# 系统文件
.DS_Store
Thumbs.db
